.photoDisplay {
  height: 80%;
  width: 80%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  overflow-x: scroll;
  border-radius: 10px;
}

img {
  /*height: 60%;*/
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.submission {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, .8);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}