.login { 
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: blue;*/
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 20vw;
  /*background-color: red;*/
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0 1vw;
}