.login { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  width: 300px;
  min-width: 150px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0 1vw;
}