.displayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.uiContainer {
  background-color: rgba(0, 0, 60, .5);
  height: 100vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.photoContainer {
  background-color: rgba(0, 0, 0, .2);
  height: 100vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title p {
  text-align: center;
  margin: 0;
}

.title {
  margin-top: 10vh;
}